{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto mt-5 shadow ">
                <form method="post">
                    {% csrf_token %}
                    <h2><u>User Registration</u></h2>
                    {% if errmsg %}
                    <div class="alert alert-danger" role="alert">
                        {{errmsg}}
                    </div>
                {% endif %} 

                {% if success %}
                    <div class="alert alert-success" role="alert">
                        {{success}}
                    </div>
                {% endif %}
                    <div class="mb-3">
                        <label for="input1" class="form-label">User Name:</label>
                        <input type="email" class="form-control" id="input1" placeholder="name@gmail.com" name="uname">
                    </div>

                    <div class="mb-3">
                        <label for="input2" class="form-label">Password: </label>
                        <input type="password" class="form-control" id="input2" placeholder="password" name="upass">
                    </div>

                    <div class="mb-3">
                        <label for="input3" class="form-label">Confirm Password: </label>
                        <input type="password" class="form-control" id="input1" placeholder="Confirm Password" name="ucpass">
                    </div>

                    <div class="mb-3">
                        <input type="submit" value="Register" class="btn btn-danger">
                        Already User? <a href="login">LOGIN</a>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>